body {
    background-image: url('../images-3/plane\ img.jfif');
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: maroon;
  }
  
  h2 {
    color: hotpink;
  }
  
  h3 {
    color: black;
    text-align: right;
    justify-content: right;
   
  }
  
  h4 {
    color: antiquewhite;
    font-size: 20spx;
  }
  
  h5 {
    color: bisque;
    font-size: 15px;
  }
  
  img {
    width: 300px;
    height: auto;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
  
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-30px);
    }
  
    60% {
      transform: translateY(-15px);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  p {
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-image: url('../imaages/heat\ background.avif');
    background-size: 400px;
    color: black;
    font-size: 30px;
    cursor: pointer;
    animation: pulse 2s infinite;
  }
  
  button:hover {
    background-color: grey;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }